{% extends "layout.html" %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center" style="height:90vh">
        <div class="row g-5"> 
            <div class="col-sm-6">
                <div class="p-3 border bg-light text-center rounded shadow-lg" style="height:300px">
                    <h1> Create Room</h1>
                    
                    <form class="mt-5" method="post" action="{{url_for('room.create_room')}}">
                        <div class="mt-3 input-group mb-5">
                            <input type="text" placeholder="Pick a name" class="form-control" name="name" value="{{name}}" maxlength="8" required>
                            <button class="btn btn-secondary" type="submit"> Create Room</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-3 border bg-dark text-center rounded shadow-lg" style="height:300px">
                    <h1 style="color:white"> Join Room</h1>
                    <form class="mt-5" method="post" action="{{url_for('room.join_room')}}">
                        <div class="mt-3 mb-5">
                            <input type="text" placeholder="Pick a name" class="form-control" name="name" value="{{name}}" maxlength="8" required>
                            <div class="mt-3 input-group mb-5">
                                <input type="text" placeholder="Enter Room Code" class="form-control" name = "room_code" required>
                                <button class="btn btn-secondary" type="submit"> Join Room</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}