{% extends "layout.html" %}

{% block body %}
    <h1> Room : {{ room_code }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!-- Right column content -->
                <div class="p-3">
                    <h2>Game Arena</h2>
                    <div id="messagesGame">
                        
                    </div>
                    <div class="mb-5">
                        <input type="text" name="messageGame" id="messageGame" required>
                        <input type="button" id = "messageGameBtn" onclick = "sendGameMessage()" value="Send"> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            <!-- Left column content -->
                <div class="p-3">
                    <h1> Chat Arena </h1>
                    <div id="messagesChat">
                        {% for message in history_messages %}
                            <div class="text">
                                <span>
                                    <strong> {{ message["name"] }} </strong>: {{ message["message"] }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mb-5">
                        <input type="text" name="messageChat" id="messageChat" required>
                        <input type="button" id = "messageChatBtn" onclick = "sendChatMessage()" value="Send"> 
                    </div>
                </div>
          </div>
      </div>
    
    <script src="{{ url_for('static', filename = 'game.js') }}"></script>
    <script src="{{ url_for('static', filename = 'chat.js') }}"></script>

{% endblock %}