{% extends "layout.html" %}

{% block body %}
    <h1> Room : {{ room_code }}</h1>
    <div id="messages">
        {% for message in history_messages %}
            <div class="text">
                <span>
                    <strong> {{ message["name"] }} </strong>: {{ message["body"] }}
                </span>
            </div>
        {% endfor %}
    </div>
    <div>
        <input type="text" name="message" id="message" required>
        <input type="button" id = "messageBtn" onclick = "sendMessage()" value="Send"> 
    </div>
 
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>

{% endblock %}